.Influencer {
    margin-top: 40px;
    .Influencer--image-content {
      overflow: hidden;
      height: 550px;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      .Influencer--image-content__image {
        position: relative;
        height: 650px;
        bottom: 80px;
        right: 50px; 
      }
    }
    .Influencer--image-content-4 {
      overflow: hidden;
      height: 550px;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      img {
        position: relative;
        height: 650px;
        bottom: 80px;
        right: 300px;
      }
    }
    .Influencer__detail {
      color: #fff;
      position: absolute;
      bottom: 0;
      width: 88%;
      right: 34px;
      padding: 0 50px 50px 50px;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
      transition: 500ms;
      &:hover {
        background: linear-gradient(transparent, rgba(0, 0, 0, 1));
      }
      .Influencer__name {
        font-size: 45px;
        margin: 0;
      } 
      .Influencer__time {
        font-size: 13px;
        font-weight: 300; 
      }
      .Influencer__description {
        font-weight: 300;
        line-height: 20px;
      }
      .Influencer__vote {
        display: inline-block;
        height: 35px;
        width: 35px;
        text-align: center;
        margin-right: 15px;
        transition: 300ms;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 3px 3px #fff;
        }
        .Influencer__vote__image {
          width: 25px;
          margin-top: 5px;
        } 
      }
      .Influencer__vote--up {
        background-color: #1cbbb4;
      }
      .Influencer__vote--down {
        background-color: #ffad1d;
      }
  }                        
    .Influencer__link {
      padding: 10px 20px;
      width: 30px;
      box-shadow: 0px 0px 1px 1px;
      color: #fff;
      text-decoration: none;
      position: relative;
      top: 5px;
      transition: 500ms;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .Influencer__submit-link {
    font-size: 20px;
    border: 1.5px solid #000;
    color: #000;
    padding: 14px 45px;
    position: relative;
    left: 230px;
    text-decoration: none;
    transition: 500ms;
    &:hover {
      background-color: #000000;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .Influencer__detail__vote-img {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #1cbbb4;
    text-align: center;
    margin-right: 15px;
    transition: 300ms;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 15px;
    &:hover {
      box-shadow: 0px 0px 3px 3px #fff;
    }
    .Influencer__detail__vote-icon {
      width: 25px;
      margin-top: 5px;
    }
  }